# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
frontend/node_modules

# next.js
frontend/.next/
frontend/out/
frontend/.swc/

# production
frontend/build

# local env files
.env
.env*.local
.DS_STORE

# python
.tox/
.operate/
.operate*/
__pycache__/
data/
backend/temp/
backend/tmp/

tmp/
temp/

!operate/data
electron/.next

dist/
build/

cache
leak_report

*.dist
*.build
/electron/bins/

# logs
*.log
/.optimus/

.memeooorr/
