* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: monospace;
  font-size: 14px;
  height: fit-content;
}

.loader {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, white 10%, purple 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
