@import '@fontsource/inter';
@import '@fontsource/inter/700.css';
@import '@fontsource/inter/900.css';

html, body {
    margin: 0;
    padding: 0;   
    height: auto;
}

  /* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

body {
    max-width: 420px;
    border-radius: 8px;
    user-select: none;
}

button, input, select, textarea, .ant-input-suffix {
    -webkit-app-region: no-drag;
}

.ant-card-head {
    -webkit-app-region: drag;
}

.antd-card {
  background-color: white;
    overflow-y: scroll;
}

.balance {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
}

.balance-symbol {
  @extend .balance;
  font-size: 32px;
  line-height: 32px;
}

.balance-currency {
  @extend .balance;
  font-size: 24px;
  line-height: 24px;
}

.card-section-alert {
  margin: 0;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  margin: -24px;
}

.can-select-text {
  user-select: text !important;
}

.justify-start {
  justify-content: flex-start;
}

.m-0 {
  margin: 0 !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
} 

.text-base {
  font-size: 16px;
}

.text-sm {
  font-size: 14px;
}

ul.alert-list {
  margin: 0 0.5em;
  padding-left: 1.25em;
}

.w-3\/4 {
  width: 75% !important;
}
