@import '@fontsource/inter';
@import '@fontsource/inter/700.css';
@import '@fontsource/inter/900.css';

html, body {
    margin: 0;
    padding: 0;    
    max-height: fit-content;
    // box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  }

html {
  min-width: 400px;
  background: transparent;
}

body {
    background: white;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    -webkit-app-region: drag;
    user-select: none;
}

button, input, select, textarea, .ant-input-suffix {
    -webkit-app-region: no-drag;
}

.can-select-text {
  user-select: text !important;
}