@import '@fontsource/inter';
@import '@fontsource/inter/700.css';
@import '@fontsource/inter/900.css';

html, body {
    margin: 0;
    padding: 0;
    width: fit-content; /* Adjusts width to fit the content */
    height: fit-content; /* Adjusts height to fit the content */
    min-height: 100%; /* Ensures it is at least viewport height if content is taller */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  }

  html {
    background: transparent;
  }

body {
    background: white;
    border-radius: 8px;
    -webkit-app-region: drag;
}

button, input, select, textarea, .ant-input-suffix {
    -webkit-app-region: no-drag;
}